[submodule "42keebs-kicad"]
	path = 42keebs-kicad
	url = https://github.com/piit79/42keebs-kicad.git
[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
